.inventory-grid {
  grid-template-columns: 48px auto 40px;

  @screen sm {
    grid-template-columns: auto 200px 150px 100px 100px 60px;
  }

  @screen md {
    grid-template-columns: auto 200px 150px 100px 100px 60px;
  }

  @screen lg {
    grid-template-columns: auto 200px 150px 100px 100px 60px;
  }
}
::ng-deep {
  .max-w-\[calc\(100\%-148px\)\] {
    max-width: calc(100% - 148px);
  }
}