.inventory-grid {
  grid-template-columns: 48px auto 40px;

  @screen sm {
    grid-template-columns: 180px auto 140px 150px 150px 72px;
  }

  @screen md {
    grid-template-columns: 180px auto 140px 150px 150px 72px;
  }

  @screen lg {
    grid-template-columns: 180px auto 140px 150px 150px 72px;
  }
}